<div class="main">

  <div class="not-Found">
    <h1><span>404</span> Page <span>Not</span> Found</h1>
  </div>

    <div class="text">
      <h3>
        Lo sentimos, pero la página que buscas no existe en el <span>ESPACIO</span>. Tal vez se perdió en un agujero negro, o fue abducida por unos extraterrestres, o se desintegró por una supernova. Sea lo que sea, no podemos ayudarte a encontrarla. Por favor, vuelve a tu nave espacial y prueba otra dirección. Gracias por tu comprensión y que la fuerza te acompañe.
      </h3>
    </div>

        <div class="planet ">
          <img id="planet" src="../../assets/img/planet.svg" class="hidden md:block"/>
        </div>

          <div>
            <img id="astronaut" src="../../assets/img/astronaut.svg"/>
          </div>

<div class="button">
  <button class="overflow-hidden relative w-32 p-2 h-12 bg-black text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group">
    <a href="#">
      Inicio
      <span class="absolute w-36 h-32 -top-8 -left-2 bg-green-200 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-bottom"></span>
      <span class="absolute w-36 h-32 -top-8 -left-2 bg-green-400 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-bottom"></span>
      <span class="absolute w-36 h-32 -top-8 -left-2 bg-green-600 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-bottom"></span>
      <span class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10">Inicio</span>
    </a>
  </button>

</div>

</div>

